/* ==========================================================================
Author's custom styles
========================================================================== */
body {
	padding-top: 50px;
	padding-bottom: 0;
}
.progress-bar-left {
	text-align: left;
	text-indent: 0.5em;
}

#page-footer {
	background-color: #666;
	padding-bottom: 4em;
	padding-top: 1em;
	font-weight: bolder;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}